footer{
    max-width: 100vw;
    background-color: rgb(192, 186, 186);
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    margin: 0;
    padding: 10px;
}


footer a{
    color: #635110;
}