<header>
    <nav class="navbar">
        <a href="" routerLink="/">
            <div class="logo-container">
                <img src="/assets/moments.png" alt="">
                <h1>Moments</h1>
            </div>
        </a>
        <ul class="nav-list">
            <a href="" class="nav-link" routerLink="/">Home</a>
            <a href="" class="nav-link" routerLink="/moments/new" id="add">Novo momento</a>
            <a href="" class="nav-link" routerLink="about/">Sobre</a>
        </ul>
    </nav>
</header>