.moment-container{
    min-height: 100vh;
}


.moment-container .moment-header h1{
    text-align: center;
}


.moment-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moment-body .image-container{
    height: 60vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.image-container img{
    max-height: 100%;
    max-width: 80vw;
    object-fit: contain;
    margin: 0 auto;

    border-radius: 10px;
}

.moment-footer{
    max-width: 30vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.actions-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 5vh;
}
.actions-container a{
    transition-duration: .5s;
    padding: 1em .5em;
    transition-duration: .4s;
}

.actions-container a:hover{
    scale: 1.05;    
}

.actions-container a#edit-btn{
    color: darkcyan;
    
}

#remove-btn{
    color: tomato;
    cursor: pointer;
    width: 5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


section.coments-section{
    max-width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    align-items: left;
}

section.coments-section h3{
    
}


